*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 30px;
}

.logo img {
    height: 60px;
    border-radius: 20%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    
}